PORT=7000
MONGODB_URI=mongodb://admin:admin@cluster0-shard-00-00.gqupc.mongodb.net:27017,cluster0-shard-00-01.gqupc.mongodb.net:27017,cluster0-shard-00-02.gqupc.mongodb.net:27017/perbankan?ssl=true&replicaSet=atlas-12hdfg-shard-0&authSource=admin&retryWrites=true&w=majority